li{
    display: flex;
    justify-content: space-between;
    column-gap: 16px;
    background-color: #000000AA;
    margin-bottom: 8px;
    padding: 8px 16px;
    border-radius: 25px;
    border: 2px solid #00000000;
}
.Icon{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    font-size: 16px;
}

.Icon-check{
    margin-left: 24px;
}

.Icon-delete{
    margin-right: 24px;
}

.Icon-svg{
    width: 24px;
    height: 24px;
}

.Icon-check--active{
    color: greenyellow;
}

.task-completed{
    text-decoration: line-through;
}

li:hover{
    border: 2px solid #FFFFFF;
    background-color: rgb(76,0,161);
}

li span{
    font-size: 16px;
}

p{
    margin: 0;
    font-size: 18px;
    text-shadow: 2px 2px 1px rgba(76,0,161,1);
    text-align: center;
    margin-left: 24px;
}